
p{
    background-color: antiquewhite;
    color: rgb(255, 123, 0);
    padding: 10px;
    margin: top 3px; 
}
section,aside { 
    
    margin-right :-15px; 
    margin-left: -15px;
    padding-right: -15px; 
    padding-left: -15px;
    position: relative;
    float: left;
}

section {

    width: 70%;
}
 aside{

    width: 30%;
 }

